 @charset "utf-8";

// Varibles Colors Recruit
// ========================================================
// background-image: linear-gradient(to right top, #d16ba5, #c367ae, #b065b7, #9a64bf, #7d65c6, #6675d6, #4783e2, #0091ea, #00aff7, #00cafb, #00e3f7, #5ffbf1);
// background-image: radial-gradient(circle, #d16ba5, #c367ae, #b065b7, #9a64bf, #7d65c6, #6675d6, #4783e2, #0091ea, #00aff7, #00cafb, #00e3f7, #5ffbf1);
// 

$primary: 				                                                #4667CC;
$secondary: 			                                               #F5DF4D;
$tertiary:				                                                #939597;
$quaternary: 			                                              #079DB2;
$success: 				                                                #81CC45;
$danger: 				                                                 #cc4667;
$warning: 				                                                #ccab46;
$info: 					                                                  #469dcc;
$navy:                                                        #252d53;
$dimNavy:                                                     #1c2038;

$neutral:                                                     #1a274c;
$white:                                                       #ffffff;
$black:                                                       #0f0f0f;
$dark:                                                        #121328;

//  #ECEEFF #989DD3 #FF727E #E6F4F1 #F8F8FF #E6F4F1 #0087A0
//  #A9AABC #454655 #EEE8A9 #CEE8E6 #BFA5A5 #A75A00

$primary-25:                                           tint-color($primary, 95%);
$primary-50:                                           tint-color($primary, 90%);
$primary-100:                                          tint-color($primary, 80%);
$primary-200:                                          tint-color($primary, 60%);
$primary-300:                                          tint-color($primary, 40%);
$primary-400:                                          tint-color($primary, 20%);
$primary-500:                                          $primary ;
$primary-600:                                          shade-color($primary, 20%);
$primary-700:                                          shade-color($primary, 40%);
$primary-800:                                          shade-color($primary, 60%);
$primary-900:                                          shade-color($primary, 80%);

$secondary-25:                                         tint-color($secondary, 95%);
$secondary-50:                                         tint-color($secondary, 90%);
$secondary-100:                                        tint-color($secondary, 80%);
$secondary-200:                                        tint-color($secondary, 60%);
$secondary-300:                                        tint-color($secondary, 40%);
$secondary-400:                                        tint-color($secondary, 20%);
$secondary-500:                                        $secondary;
$secondary-600:                                        shade-color($secondary, 20%);
$secondary-700:                                        shade-color($secondary, 40%);
$secondary-800:                                        shade-color($secondary, 60%);
$secondary-900:                                        shade-color($secondary, 80%);

$tertiary-25:                                          tint-color($tertiary, 95%);
$tertiary-50:                                          tint-color($tertiary, 90%);
$tertiary-100:                                         tint-color($tertiary, 80%);
$tertiary-200:                                         tint-color($tertiary, 60%);
$tertiary-300:                                         tint-color($tertiary, 40%);
$tertiary-400:                                         tint-color($tertiary, 20%);
$tertiary-500:                                         $tertiary;
$tertiary-600:                                         shade-color($tertiary, 20%);
$tertiary-700:                                         shade-color($tertiary, 40%);
$tertiary-800:                                         shade-color($tertiary, 60%);
$tertiary-900:                                         shade-color($tertiary, 80%);

$quaternary-25:                                        tint-color($quaternary, 95%);
$quaternary-50:                                        tint-color($quaternary, 90%);
$quaternary-100:                                       tint-color($quaternary, 80%);
$quaternary-200:                                       tint-color($quaternary, 60%);
$quaternary-300:                                       tint-color($quaternary, 40%);
$quaternary-400:                                       tint-color($quaternary, 20%);
$quaternary-500:                                       $quaternary;
$quaternary-600:                                       shade-color($quaternary, 20%);
$quaternary-700:                                       shade-color($quaternary, 40%);
$quaternary-800:                                       shade-color($quaternary, 60%);
$quaternary-900:                                       shade-color($quaternary, 80%);

$success-25:                                           tint-color($success, 95%);
$success-50:                                           tint-color($success, 90%);
$success-100:                                          tint-color($success, 80%);
$success-200:                                          tint-color($success, 60%);
$success-300:                                          tint-color($success, 40%);
$success-400:                                          tint-color($success, 20%);
$success-500:                                          $success;
$success-600:                                          shade-color($success, 20%);
$success-700:                                          shade-color($success, 40%);
$success-800:                                          shade-color($success, 60%);
$success-900:                                          shade-color($success, 80%);

$danger-25:                                            tint-color($danger, 95%);
$danger-50:                                            tint-color($danger, 90%);
$danger-100:                                           tint-color($danger, 80%);
$danger-200:                                           tint-color($danger, 60%);
$danger-300:                                           tint-color($danger, 40%);
$danger-400:                                           tint-color($danger, 20%);
$danger-500:                                           $danger;
$danger-600:                                           shade-color($danger, 20%);
$danger-700:                                           shade-color($danger, 40%);
$danger-800:                                           shade-color($danger, 60%);
$danger-900:                                           shade-color($danger, 80%);

$warning-25:                                           tint-color($warning, 95%);
$warning-50:                                           tint-color($warning, 90%);
$warning-100:                                          tint-color($warning, 80%);
$warning-200:                                          tint-color($warning, 60%);
$warning-300:                                          tint-color($warning, 40%);
$warning-400:                                          tint-color($warning, 20%);
$warning-500:                                          $warning;
$warning-600:                                          shade-color($warning, 20%);
$warning-700:                                          shade-color($warning, 40%);
$warning-800:                                          shade-color($warning, 60%);
$warning-900:                                          shade-color($warning, 80%);

$info-25:                                              tint-color($info, 95%);
$info-50:                                              tint-color($info, 90%);
$info-100:                                             tint-color($info, 80%);
$info-200:                                             tint-color($info, 60%);
$info-300:                                             tint-color($info, 40%);
$info-400:                                             tint-color($info, 20%);
$info-500:                                             $info;
$info-600:                                             shade-color($info, 20%);
$info-700:                                             shade-color($info, 40%);
$info-800:                                             shade-color($info, 60%);
$info-900:                                             shade-color($info, 80%);

$navy-25:                                              tint-color($navy, 95%);
$navy-50:                                              tint-color($navy, 90%);
$navy-100:                                             tint-color($navy, 80%);
$navy-200:                                             tint-color($navy, 60%);
$navy-300:                                             tint-color($navy, 40%);
$navy-400:                                             tint-color($navy, 20%);
$navy-500:                                             $navy;
$navy-600:                                             shade-color($navy, 20%);
$navy-700:                                             shade-color($navy, 40%);
$navy-800:                                             shade-color($navy, 60%);
$navy-900:                                             shade-color($navy, 80%);

$dimNavy-25:                                           tint-color($dimNavy, 95%);
$dimNavy-50:                                           tint-color($dimNavy, 90%);
$dimNavy-100:                                          tint-color($dimNavy, 80%);
$dimNavy-200:                                          tint-color($dimNavy, 60%);
$dimNavy-300:                                          tint-color($dimNavy, 40%);
$dimNavy-400:                                          tint-color($dimNavy, 20%);
$dimNavy-500:                                          $dimNavy;
$dimNavy-600:                                          shade-color($dimNavy, 20%);
$dimNavy-700:                                          shade-color($dimNavy, 40%);
$dimNavy-800:                                          shade-color($dimNavy, 60%);
$dimNavy-900:                                          shade-color($dimNavy, 80%);

$neutral-25:                                           tint-color($neutral, 97.5%);
$neutral-50:                                           tint-color($neutral, 95%);
$neutral-100:                                          tint-color($neutral, 90%);
$neutral-200:                                          tint-color($neutral, 80%);
$neutral-300:                                          tint-color($neutral, 70%);
$neutral-400:                                          tint-color($neutral, 60%);
$neutral-500:                                          tint-color($neutral, 50%);
$neutral-600:                                          tint-color($neutral, 40%);
$neutral-700:                                          tint-color($neutral, 30%);
$neutral-800:                                          tint-color($neutral, 20%);
$neutral-900:                                          tint-color($neutral, 10%);

$gray-25:                                              tint-color($black, 97.5%);
$gray-50:                                              tint-color($black, 95%);
$gray-100:                                             tint-color($black, 90%);
$gray-200:                                             tint-color($black, 80%);
$gray-300:                                             tint-color($black, 70%);
$gray-400:                                             tint-color($black, 60%);
$gray-500:                                             tint-color($black, 50%);
$gray-600:                                             tint-color($black, 40%);
$gray-700:                                             tint-color($black, 30%);
$gray-800:                                             tint-color($black, 20%);
$gray-900:                                             tint-color($black, 10%);


$grey-25:                                              tint-color($dark, 97.5%);
$grey-50:                                              tint-color($dark, 95%);
$grey-100:                                             tint-color($dark, 90%);
$grey-200:                                             tint-color($dark, 80%);
$grey-300:                                             tint-color($dark, 70%);
$grey-400:                                             tint-color($dark, 60%);
$grey-500:                                             tint-color($dark, 50%);
$grey-600:                                             tint-color($dark, 40%);
$grey-700:                                             tint-color($dark, 30%);
$grey-800:                                             tint-color($dark, 20%);
$grey-900:                                             tint-color($dark, 10%);

// fusv-enable
$blue:                        #00BFFF;
$purple:                      #9370DB;
$indigo:                      #3B3DBF;
$pink:                        #FF69B4;
$red:                         #DC143C;
$orange:                      #FF7F50;
$yellow:                      #F5DF4D;
$lime:                        #ADFF2F;
$green:                       #66CDAA;
$teal:                        #7efff5;
$cyan:                        #22B8CF;


//== Theme Soft Colors
$primary-soft:                                               rgba($primary, .075);
$secondary-soft:                                             rgba($secondary, .075);
$tertiary-soft:                                              rgba($tertiary, .075);
$quaternary-soft:                                            rgba($quaternary, .075);
$success-soft:                                               rgba($success, .075);
$info-soft:                                                  rgba($info, .075);
$warning-soft:                                               rgba($warning, .075);
$danger-soft:                                                rgba($danger, .075);
$light-soft:                                                 rgba($gray-100, .075);
$dark-soft:                                                  rgba($dark, .075);
$neutral-soft:                                               rgba($neutral, .075);
$dimNavy-soft:                                               rgba($dimNavy, .075);
$navy-soft:                                                  rgba($navy, .075);
//== Theme Soft Colors
$primary-light:                                             $primary-100;
$secondary-light:                                           $secondary-100;
$tertiary-light:                                            $tertiary-100;
$quaternary-light:                                          $quaternary-100;
$success-light:                                             $success-100;
$info-light:                                                $info-100;
$warning-light:                                             $warning-100;
$danger-light:                                              $danger-100;
$dark-light:                                                $grey-100;
$grey-light:                                                $grey-50;
$white-light:                                               $grey-25;
$neutral-light:                                             $neutral-100;
$dimNavy-light:                                             $dimNavy-100;
$navy-light:                                                $navy-100;

//== Theme Inverse Colors
$primary-inverse:                                             $primary-800;
$secondary-inverse:                                           $secondary-800;
$tertiary-inverse:                                            $tertiary-800;
$quaternary-inverse:                                          $quaternary-800;
$success-inverse:                                             $success-800;
$info-inverse:                                                $info-800;
$warning-inverse:                                             $warning-800;
$danger-inverse:                                              $danger-800;
$dark-inverse:                                                $grey-800;
$grey-inverse:                                                $grey-600;
$white-inverse:                                               $white;
$neutral-inverse:                                             $neutral-800;
$dimNavy-inverse:                                             $dimNavy-800;
$navy-inverse:                                                $navy-800;

//== Customs Colors
$link:                                             darken($primary, 8%);
$link-hover:                                       darken($primary, 16%);
$link-blue:                                        $navy;
$link-blue-hover:                                  darken($navy, 8%);

// $gray:                                             $gray-700;
// $lightgray:                                        $gray-500;
// $gray-light:                                       $gray-100; 
// $gray-lighter:                                     $gray-50;

// $grey:                                             $grey-700;
// $lightgrey:                                        $grey-500;
// $grey-light:                                       $grey-100; 
// $grey-lighter:                                     $grey-50;

// $light:                                            $grey-100;
// $lighter:                                          $grey-50;
// $lightest:                                         $grey-25;

// $default:                                          $grey-25;
// $default-dark:                                     $grey-100;

// $border:                                           $gray-50;
// $border-g:                                         $grey-50;
// $border-n:                                         $neutral-50;





