@charset "utf-8";

//  Recruit > MemberCenter
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
.t-membercenter-section {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .t-panel {
    margin-bottom: 1.5rem;
  }
}