
// Typography

$font-ch-main:                      'hellofont-id-juejianghei'                !default;
$font-en:                           'trilby'                                  !default;
$font-ch:                           'alibaba-puhuiti'                         !default;
$font-mono:                         'ellograph-cf'                            !default;

// stylelint-disable value-keyword-case halyard-text halyard-display halyard-micro    400 500 700 900 
$font-family-serif:                $font-ch-main , serif !default;

$font-family-sans-serif:           $font-en, $font-ch, -apple-system,  system-ui,
                                   BlinkMacSystemFont, segoe ui, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif, 
                                   apple color emoji, segoe ui emoji, segoe ui symbol !default;

$font-family-monospace:            $font-mono, Menlo, Monaco, Consolas, 'Courier New', monospace  !default;

$font-family-base:                 $font-family-sans-serif                            !default;

$font-family-display:              $font-ch-main                                      !default;
$font-family-display-weight:       900                                                !default;


$font-family-serif:            _var('family-serif', $font-family-serif);
$font-family-base:             _var('family-base', $font-family-sans-serif);
$font-family-code:             _var('family-monospace', $font-family-monospace);

$font-weight-lighter:           lighter                   !default;
$font-weight-light:             300                       !default;
$font-weight-normal:            400                       !default;
$font-weight-medium:            500                       !default;
$font-weight-semibold:          600                       !default;
$font-weight-semi-bold:         600                       !default;
$font-weight-bold:              700                       !default;
$font-weight-bolder:            bolder                    !default;
$font-weight-base:              $font-weight-normal       !default;

$font-weight-100:               100                       !default;
$font-weight-200:               200                       !default;
$font-weight-300:               300                       !default;
$font-weight-400:               400                       !default;
$font-weight-500:               500                       !default;
$font-weight-600:               600                       !default;
$font-weight-700:               700                       !default;
$font-weight-800:               800                       !default;
$font-weight-900:               900                       !default;

$line-height-base:                                           1.5                 !default;
$line-height:                                                $line-height-base   !default;
$line-height-computed:                                       1.75                !default;

$line-height:                                                1.5                 !default;
$line-height-xl:                                             1.75                !default;
$line-height-lg:                                             1.625               !default;
$line-height-md:                                             1.5                 !default;
$line-height-sm:                                             1.375               !default;
$line-height-xs:                                             1.25                !default;
$line-height-xxs:                                            1.125               !default;

$font-size:                                                  1rem                      !default;
$font-size-base:                                             $font-size                !default;
$font-size-root:                                             null                      !default;

$font-size-pixel-base:                                       16px                      !default;

$font-size-pixel-xxl:                                        20px                      !default;
$font-size-pixel-xl:                                         19px                      !default;
$font-size-pixel-lg:                                         18px                      !default;
$font-size-pixel-md:                                         $font-size-pixel-base     !default;
$font-size-pixel-sm:                                         15px                      !default;
$font-size-pixel-xs:                                         14px                      !default;
$font-size-pixel-xxs:                                        13px                      !default;
$font-size-pixel-xxxs:                                       12px                      !default;


$font-size-none:                                             0                              !default;
$font-size-xxl:                                              PxRem($font-size-pixel-xxl)     !default;
$font-size-xl:                                               PxRem($font-size-pixel-xl)     !default;
$font-size-lg:                                               PxRem($font-size-pixel-lg)     !default;
$font-size-md:                                               PxRem($font-size-pixel-md)     !default;
$font-size-sm:                                               PxRem($font-size-pixel-sm)     !default;
$font-size-xs:                                               PxRem($font-size-pixel-xs)     !default;
$font-size-xxs:                                              PxRem($font-size-pixel-xxs)    !default;

$headings-font-family :         $font-family-base           !default;
$headings-font-weight-bold:     500                         !default;
$headings-font-weight-bolder:   700                         !default;
$headings-font-weight:                                      $font-weight-bold;
$headings-color:                                            $dark;
$headings-line-height:                                      1.375;
$headings-margin-bottom:                                    1rem;
$headings-font-style:                                       null !default;

$line-height-base:              1.5                       !default;
$line-height:                   $line-height-base         !default;

$h1-font-size:                  $font-size-base * 2.500     !default;
$h2-font-size:                  $font-size-base * 2.000     !default;
$h3-font-size:                  $font-size-base * 1.750     !default;
$h4-font-size:                  $font-size-base * 1.500     !default;
$h5-font-size:                  $font-size-base * 1.250     !default;
$h6-font-size:                  $font-size-base * 1.125     !default;
$para-font-size:                $font-size-base * 1.000     !default;
$span-font-size:                $font-size-base * 0.9375    !default;
$label-font-size:               $font-size-base * 0.875     !default;

$display-font-family:                                       null                  !default;
$display-font-style:                                        null                  !default;
$display-font-weight:                                       $font-weight-bold     !default;
$display-line-height:                                       $headings-line-height !default;





$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300                    !default;
$lead-color:                  $gray-900              !default;

$small-font-size:             .875em                 !default;
$sub-sup-font-size:           .75em                  !default;
$text-muted:                  $gray-600              !default;
$initialism-font-size:        $small-font-size !default;

$blockquote-margin-y:         $spacer !default;
$blockquote-font-size:        $font-size-base * 1.25 !default;
$blockquote-footer-color:     $gray-600 !default;
$blockquote-footer-font-size: $small-font-size !default;

$hr-margin-y:                 1.5rem  !default;
$hr-color:                    inherit !default;
$hr-bg-color:                 null !default;
$hr-height:                   null !default; 
$hr-border-color:             null !default; 
$hr-border-width:             $border-width !default;
$hr-opacity:                  .25 !default;

$legend-margin-bottom:        .5rem !default;
$legend-font-size:            1.5rem !default;
$legend-font-weight:          null !default;

$dt-font-weight:              $font-weight-bold !default;
$dt-color:                    $headings-color !default;
$dd-margin-y:                 1rem !default;

$list-inline-padding:         .5rem !default;

$mark-padding:                .1875em !default;
$mark-bg:                     $yellow-100 !default;

$letter-spacing:              0.03125rem !default;

$code-font-size: 1em;

$kbd-color:   $headings-color;
$kbd-bg:     $light-bg-color;

// Font Sizes
$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,

    7: $font-size-base * 0.95, 
    8: $font-size-base * 0.85, 
    9: $font-size-base * 0.75,
    10: $font-size-base * 0.5, 

    base: $font-size-base,
    fluid: 100%,

    2x: $font-size-base * 2,       
    2qx: $font-size-base * 2.25,    
    2hx: $font-size-base * 2.5,     
    2tx: $font-size-base * 2.75,    

    3x: $font-size-base * 3,        
    3qx: $font-size-base * 3.25,   
    3hx: $font-size-base * 3.5,     
    3tx: $font-size-base * 3.75,    

    4x: $font-size-base * 4,       
    4qx: $font-size-base * 4.25,   
    4hx: $font-size-base * 4.5,    
    4tx: $font-size-base * 4.75,    
    
    5x: $font-size-base * 5,        
    5qx: $font-size-base * 5.25,    
    5hx: $font-size-base * 5.5,     
    5tx: $font-size-base * 5.75     
) !default;

$font-size-pixels: (
  xxs: $font-size-pixel-xxs,
  xs:  $font-size-pixel-xs,
  sm:  $font-size-pixel-sm,
  md:  $font-size-pixel-md,
  lg:  $font-size-pixel-lg,
  xl:  $font-size-pixel-xl,
  xxl: $font-size-pixel-xxl
) !default;


// scss-docs-start display-headings
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;



